@each $name, $pair in $colors {
    $color: nth($pair, 1);
    .s-text--#{$name} {
        color: $color !important;
    }
    a.s-text--#{$name} {
        &:hover, &:focus {
            color: sarumaDarken($color, 10%) !important;
        }
    }
    .s-bg--#{$name} {
        background-color: $color !important;
    }

    .s-bg-lnr-gradient--#{$name} {
        background-image: linear-gradient(to bottom, $color, sarumaDarken($color, 15%));
    }

    @if length($pair) >= 4 {
        $color-light: nth($pair, 3);
        $color-dark: nth($pair, 4);

        //Light color classes
        .s-text--#{$name}-light {
            color: $color-light !important;
        }
        a.s-text--#{$name}-light {
            &:hover,
            &:focus {
                color: sarumaDarken($color-light, 10%) !important;
            }
        }

        .s-bg--#{$name}-light {
            background-color: $color-light !important;
        }

        //Dark color classes
        .s-text--#{$name}-dark {
            color: $color-dark !important;
        }
        a.s-text--#{$name}-dark {
            &:hover,
            &:focus {
                color: sarumaLighten($color-dark, 10%) !important;
            }
        }

        .s-bg--#{$name}-dark {
            background-color: $color-dark !important;
        }
    }
}

@each $name, $shade in $shades {
    .s-text--#{$name} {
        color: $shade !important;
    }
    .s-bg--#{$name} {
        background-color: $shade !important;
    }
}
