.d-flex {display: flex !important;}
.flex-col {display: flex; flex-direction: column}
.align-items-center {align-items: center !important; }
.align-items-end {align-items: end !important;}
.align-items-start {align-items: start !important;;}
.align-items-baseline {align-items: baseline !important;}
.justify-content-center {justify-content: center !important;}
.justify-content-between {justify-content: space-between !important;}
.justify-content-around {justify-content: space-around !important;}
.justify-content-evenly {justify-content: space-evenly !important;}
.justify-content-end {justify-content: flex-end !important;}
.justify-content-start {justify-content: flex-start !important;}
.no-wrap {flex-wrap: nowrap !important;}


.spacer{flex: 1 0 auto;}


.centered-items {
    justify-content: center;
    align-items: center;
}



.full-display {
    height: 100%;
    width: 100%;
}
